@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  background: #d2e8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.todo{
  background: white;
  padding: 2rem;
  border-radius: 5p;
  border: 1px solid #efefef;
  box-shadow:
  
      0 1px 1px rgba(0,0,0,0.15),
     
      0 10px 0 -5px #eee,
       
      0 10px 1px -4px rgba(0,0,0,0.15),
       
      0 20px 0 -10px #eee,
     
      0 20px 1px -9px rgba(0,0,0,0.15);
}


input[type=text]{
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}

input[type=text]::placeholder{
  font-size: 1.1rem;
  
}

input{
  outline: none;
  border: none;
}

.todo-item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.joke{
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.validate-form{
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
  /* justify-content: center; */
  /* width: ; */
  height: 42px;
}

.validate-form input[type=submit]{
  padding: 0.65rem 1rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  background: rgb(119, 175, 240);
  color: white;
  cursor: pointer;
}


